@model Voiturage.Models.Utilisateur

@{
    ViewData["Title"] = "Supprimez";
}

<h1>Supprimez</h1>

<h3>Voulez-vous vraiment supprimez cet utilisateur?</h3>
<div class="blue_bg">
    <h4>Utilisateur</h4>
    <hr />
    <dl class="row white_bg m-2 ">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimez" class="btn btn-danger" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>
